.cache
.ccls-cache
.vscode
/build
lib*.so         
/bin/*
!/bin/conf/
bin/conf/prod.env
bin/conf/*.yml
*.log
/dist
*.tar.gz
/thirdpart
/uploads
*3rdparty*
*sdk*
/.idea
*.iml
.DS_Store
*.pid
*.swp
*.swo
*.db
.venv
*.pyc
dataset
models
protocol/include
orm
tools
*.dat
*.sql*
dbproxy/data
*upload*
