.cache
.ccls-cache
.vscode
/build
lib*.so         
!/bin/conf
/bin
*.log
/thirdpart
/uploads
*3rdparty*
*sdk*
/.idea
*.iml
.DS_Store
*.pid
*.swp
*.swo
*.db
.venv
*.pyc
dataset
models
protocol/include
orm
tools
